.result-list .desc {
  margin-bottom: 20px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 15px;
}

.button-eliminar {
  margin-top: -7px;
  padding: 5px 10px;
}

.result-list .result-price {
  width: 240px;
  font-size: 28px;
  text-align: center;
  border-left: 1px dashed #ddd;
  padding-top: 75px;
}

.content-top{
	padding-top:80px;
	background: #f4f6f7!important;
}
.content-top .content-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 0;
}
.content-top .content-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  background: #242a30;
  height: 2px;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

.header.navbar.navbar-inverse .brand-text, .header.navbar.navbar-transparent .brand-text {
  color: #2d353c;
}

.list-email {
  margin-bottom: 0;
  border-top: 1px solid #e2e7eb;
  border-bottom: 1px solid #e2e7eb;
  border-right: 1px solid #e2e7eb;
}

.content-factura{
  padding-top: 5px;
}

.content-factura div{
  margin-top: 5px;
}

.content-facturas{
  margin-top: 5px;
}

.btn-pagar , .btn-agregar{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.gallery .image img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.pull-center{
  text-align: center;
}

.img-2{
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -o-border-radius: 2%;
}
.img-detalle-publicidad{
    width: 100%;
    border: 1px solid #ecf0f1;
}
.costo-producto{
  color: rgb(145, 142, 142);
  font-size: 45px;
}

.content-desce {
  text-align: center;
  margin-bottom: 40px;
  color: #242a30;
}
.button-agregar-producto{
  margin-top: 60px;
}